.wrapper {
    background: #ff6d0026;
    border-radius: 24px;
    margin: 0 28px 24px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px;
}

.name {
    font-size: 20px;
    font-weight: 600;
    color: #ff6d00;
}
